.header {
    display: flex;
    height: 80px;
    align-items: center;
    width: 1000px;
    margin: auto;
    justify-content: space-between;
   

    &__right--input {
        height: 40px;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-right: 10px;
        width: 300px;
    }

    &__right--upload {
        background: blue;
        color: #fff;
        border-radius: 5px;
        height: 40px;
        border: none;
        padding: 0 10px;
        border: 1px solid blue;
        cursor: pointer;
    }

    &__right--form {
        display: inline-block;
        position: relative;
    }

    &__right--button {
        background: #fff;
        border: none;
        right: 20px;
        position: absolute;
        top: 12px;
        cursor: pointer;
    }

    &__right--search {
        font-size: 18px !important;
    }


}